<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Arecanut Disease || Remedies</title>
	<meta name="description" content="" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
	<link rel="icon" type="image/png" href="images/favicon.jpg" />
	<link rel="stylesheet" href="/static/design/reset.css" />
	<link rel="stylesheet" href="/static/design/animate.min.css" />
	<link rel="stylesheet" href="/static/design/bootstrap.min.css" />
	<link rel="stylesheet" href="/static/design/style.css" />
	<link rel="stylesheet" href="/static/design/font-awesome.css" />
	<link rel="stylesheet" href="/static/design/owl.carousel.css" />
	<link rel="stylesheet" href="/static/design/responsive.css" />
	<link rel="stylesheet" href="/static/design/player/YTPlayer.css" />
	<link href="/static/design/pro-bars.css" rel="stylesheet" />
	<style>
		img {
			border-radius: 10px;
		}

		.contain {
			text-decoration: none;
			margin-left: 20px;
			font-size: 30px;
			color: white;

		}

		.none {
			text-decoration: none;
		}

		.none:hover {
			text-decoration: none;
		}
	</style>
</head>

<body>
	<section id="navigation" class="dark-nav">
		<div class="nav-inner">
			<div class="site-logo">
				<a class="none" href="/"><img
						src="https://static.vecteezy.com/system/resources/previews/011/893/256/original/illustration-ripe-areca-nut-scientific-name-areca-catechu-isolated-on-a-white-background-vector.jpg"
						alt="alternative" width="50px" height="50px"><b class="contain">Arecanut Disease</b></a>
			</div>
			<a class="mini-nav-button gray2"><i class="fa fa-bars"></i></a>
			<div class="nav-menu">
				<ul class="nav uppercase">
					<li><a href="/" class="scroll">Home</a></li>
					<li><a href="#fun-acts" class="scroll">About us</a></li>
					<li><a href="#clients" class="scroll">Diseases</a></li>
				</ul>
			</div>
		</div>
	</section>

	<section id="home" class="relative">
		<div id="slides">
			<div class="slides-container relative">
				<div class="image2"></div>
				<div class="image1"></div>
				<div class="image3"></div>
				<div class="image4"></div>
			</div>
			<nav class="slides-navigation">
				<a href="#" class="next"></a>
				<a href="#" class="prev"></a>
			</nav>
		</div>
		<div class="v2 absolute">
			<div class="typographic">
				<div class="logo">
					<img src="/static/areca.png" width="300" alt="Logo" style="background: transparent;" />
				</div>
				<h2 class=" condensed uppercase no-padding no-margin bold gray1">Cultivating Resilience: </h2>
				<h2 class=" condensed uppercase no-padding no-margin bold colored">Arecanut Disease Remediation
					Strategies</h2>
				<a href="#clients" class="scroll"><i class="arrow-down fa fa-3x fa-angle-double-down"></i></a>
			</div>
		</div>
	</section>

	<section id="fun-acts" class="container">

		<br />
		<h1 class="header light gray1 animated" data-animation="fadeInLeft" data-animation-delay="100">
			> Fruit rot or Mahali or Koleroga<span class="colored"
				data-animation="fadeInRight">(Phytophthorameadii)</span></h1><br>
		<p class="h-desc" style="text-align: justify;"><span class="colored">Remedies for Mahali or Koleroga
				<br></span> <br><br>
			Field sanitation practices include collection and destruction of the infected nuts and other plant parts
			should be strictly followed. <br><br>
			• Prophylactic spraying of 1 per cent Bordeaux mixture at least three times at an interval of 45 days i.
			e. just before the onset of south-west monsoon, during the monsoon period and if the monsoon prolongs, a
			third spray is essential.
			<br><br>
			• Use adhesive or sticker to ensure tenacity of the spray deposit on treated substrate. Covering the
			bunch with polythene cover before the onset of monsoon also gives complete control.

		</p>
		</div>
	</section>

	<section id="fun-acts" class="container">
		<div class="inner fun-acts">
			<br />
			<h1 class="header light gray1 animated" data-animation="fadeInLeft" data-animation-delay="50">
				> Bud rot and crown rot <span class="colored" data-animation="fadeInRight">(Phytophthora
					meadii)</span></h1><br>
			<p class="h-desc" style="text-align: justify;"><span class="colored">Remedies for Bud rot and crown
					rot <br></span> <br><br>
				• Bud rot/ crown rot can be managed if the affected palms are treated in the initial stages of
				infection. <br><br>

				• Field sanitation practices like removal and destruction of fruit rot affected, dried bunches,
				shed nuts and the crowns of the palms affected by bud/ crown rots may help to reduce the year
				round survival of the pathogen inoculum. <br><br>


				• Drenching the crown with 1 per cent Bordeaux mixture and smearing with 10 per cent Bordeaux
				paste after removal of affected tissues is effective in saving bud rot affected palms. <br><br>

				• Crown rot can be managed by drenching the rhizosphere region with potassium phosphonate/ salt
				of phosphorous acid.<br><br>


				• Minimum 5 lit res of fungicidal solution/ palm (15 ml fungicide in 5 I water) is required for
				drenching (SaraswathYt 2004). <br><br>

				• Regular monitoring of treated palms is needed for checking further advancement of
				symptoms.


			</p>
		</div>
		<br><br>

	</section>
	<section id="fun-acts" class="container">
		<div class="inner fun-acts">
			<br />
			<h1 class="header light gray1 animated" data-animation="fadeInLeft" data-animation-delay="50">
				> Yellow leaf disease (YLD) <span class="colored" data-animation="fadeInRight">(Candidatus
					Phytoplasma)</span></h1><br>
			<p class="h-desc" style="text-align: justify;"><span class="colored">(Candidatus
					Phytoplasma)<br></span> <br><br>
				Since this disease is not amenable to contain by conventional protection measures, other
				management practices have to be adopted.
				Mildly affected areas: Removal of all the diseased palms and replanting with disease
				free seedlings.
				<br><br>
				<b>Heavily affected areas.</b>
				• Removal of the severely affected palms with poor yield should be carried out. <br><br>

				• Balanced nutrient management (NPK @ 100:40:140 g/palm/year), organic manure
				application @ 12 kg/palm/year and an additional dose of super phosphate (1 kg/ palm)
				along with provision of summer irrigation can improve the condition of the palms.
				<br><br>

				• Proper drainage facilities should be provided to avoid water stagnation.

			</p>
		</div>
	</section>
	<section id="fun-acts" class="container">

		<br />
		<h1 class="header light gray1 animated" data-animation="fadeInLeft" data-animation-delay="50">
			> Inflorescence die-back <span class="colored" data-animation="fadeInRight">(Coll etotrichum
				gloeosporioides)</span></h1>
		<br>
		<p class="h-desc" style="text-align: justify;"><span class="colored"> Remedies for
				Inflorescence die-back <br></span> <br><br>
			• Field sanitation practices include removal and burning of infected dried
			bunches to reduce the inoculum level in the garden should be strictly followed.
			<br><br>
			• Spraying of mancozeb (3 gil) while opening of female flowers will reduces the
			disease incidence. A second spraying should be taken up after 20-25 days.
		</p>
		</div>
	</section>

	<section id="fun-acts" class="container">
		<div class="inner fun-acts">
			<br />
			<h1 class="header light gray1 animated" data-animation="fadeInLeft" data-animation-delay="50">
				> Anaberoga or foot rot or basal stem rot <span class="colored"
					data-animation="fadeInRight">(Ganodermalucidum)</span></h1>
			<br>
			<p class="h-desc" style="text-align: justify;"><span class="colored">
					Remedies for Anaberoga or foot rot or basal stem rot
					<br></span><br><br>
				Following good management practices are the best way to check this
				disease. <br><br>
				• ¬ Field sanitation measures like cutting and burning of the dead palms
				along with bole and roots should be strictly followed.
				<br><br>
				• Improved drainage facilities will reduces the disease spread.
				<br><br>

				• Drenching the rhizosphere with propiconazole (1 ml/l) @ 15-20 l/palm
				along with root feeding of propiconazole (1 ml/I) @ 125 ml/palm at
				quarterly intervals will help in disease management.
				<br><br>
				• Neem cake application (2 kg/palm/year) helps in disease management.

				<br><br>
				• Trenching of 30 cm width and 60 cm depth around the diseased palm and
				basal application with neem cake enriched with Trichoderma harzinaum
				(lkg/plam) arrest the further spread of the disease.

			</p>
		</div>
	</section>

	<section id="fun-acts" class="container">
		<div class="inner fun-acts">
			<br />
			<h1 class="header light gray1 animated" data-animation="fadeInLeft" data-animation-delay="50">
				> Leaf blight <span class="colored" data-animation="fadeInRight">(Colletotrichum gloeosporioides
					spp.)</span></h1>
			<br>
			<p class="h-desc" style="text-align: justify;"><span class="colored"> Remedies for Leaf blight <br></span>
				<br><br>
				• Collection and destruction of diseased plant parts helps in
				reduction of inoculum load of this disease.
				<br><br>
				• Spraying of 0.3 per cent Mancozeb or 0.2 per cent Foltaf
				results in effective management this disease.

			</p>


			<section id="fun-acts" class="container">
				<h1 class="header light gray1 animated" data-animation="fadeInLeft" data-animation-dela="50">
					> Collar rot <span class="colored" data-animation="fadeInRight">(Fusarium spp. and
						Rhizoctonia spp.)</span></h1>
				<br>
				<p class="h-desc" style="text-align: justify;"><span class="colored"> <br></span> <br><br>

					Providing good drainage facilities and soil drenching
					with 1 per cent Bordeaux mixture will reduce the disease
					incidence.
				</p>
		</div>
	</section>

	<section id="fun-acts" class="container">
		<div class="inner fun-acts">
			<br />
			<h1 class="header light gray1 animated" data-animation="fadeInLeft" data-animation-delay="50">
				> Bacterial leaf stripe <span class="colored" data-animation="fadeInRight">Xanthomonas
					vasculorum (Cobb) <br> Dowson</span></h1>
			<br>
			<p class="h-desc" style="text-align: justify;"><span class="colored"> <br></span> <br><br>
				Field sanitation practices include removal and
				destruction of the diseased plant parts will
				helps in reduction of the <inoculum class="br"><br></inoculum>
				Avoidance of closer spacing, frequent irrigation
				and intercropping with banana plants will
				reduces the <disease class="br"><br></disease>
				Prophylactic spraying of copper hydroxide (2g/l)
				can reduce the disease effectively and served as
				a curative measures too.

			</p>
		</div>
	</section>
	<section id="fun-acts" class="container">

		<br />
		<h1 class="header light gray1 animated" data-animation="fadeInLeft" data-animation-delay="50">
			> Some General precautions for <span class="colored" data-animation="fadeInRight">arecanut Diseases</span>
		</h1>
		<br>
		<p class="h-desc" style="text-align: justify;"><span class="colored"> <br></span>Some of the precautions
			should be considered during arecanut cultivation starting from nursery till harvesting. They are,
			<br><br>
			• Bordeaux mixture is still considered as the best fungicide to manage the Phytophthoraspp. and no newer
			chemicals should be used as they washed off and low persistence on the nut surface due to heavy rains
			during monsoon period.
			<br><br>
			• Need based as well as recommended dosage of chemicals only should be applied (fungicides, insecticides
			and fertilizers).

			<br><br>
			• Proper safety measures have to be adopted while spraying the chemicals like covering the face with
			masks and wearing hand gloves and shoes.
			<br><br>
			• Spraying containers has to be properly and carefully discarded without any residues.
			<br><br>

			• There should be a gap between two successive spraying of fungicides


		</p>
		</div>
	</section>

	<br><br>


	<section id="clients" class="container">
		<div class="inner team">
			<h1 class="header light gray3 fancy"><span class="colored"></span> Diseases</h1>

			<div class="team-members inner-details">
				<div class="col-xs-4 member animated" data-animation="fadeInUp" data-animation-delay="50">
					<div class="member-inner">
						<a class="team-image">
							<img src="https://agritech.tnau.ac.in/crop_protection/images/arecanut_diseases/mahali_3.jpg"
								alt="image" />
						</a>
						<div class="member-details">
							<div class="member-details-inner">
								<h2 class="member-name light">Fruit rot or Mahali or Koleroga (Phytophthorameadii)
								</h2>

								<div class="socials">
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-xs-4 member animated" data-animation="fadeInUp" data-animation-delay="50">
					<div class="member-inner">
						<a class="team-image">
							<img src="https://agritech.tnau.ac.in/crop_protection/images/arecanut_diseases/bud_rot_2.jpg"
								alt="" />
						</a>
						<div class="member-details">
							<div class="member-details-inner">
								<h2 class="member-name light">Bud rot and crown rot (Phytophthora meadii)</h2>
								</p>
								<div class="socials">
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-xs-4 member animated" data-animation="fadeInUp" data-animation-delay="50">
					<div class="member-inner">
						<a class="team-image">
							<img src="https://www.researchgate.net/profile/Latif-Khan-5/publication/371593750/figure/fig1/AS:11431281184124703@1693229074579/The-typical-YLD-symptoms-on-areca-palm-a-YLD-symptoms-initially-starts-from-leaflet_Q320.jpg"
								alt="error" height="350px" />
						</a>
						<div class="member-details">
							<div class="member-details-inner">
								<h2 class="member-name light">Yellow leaf disease (YLD) (Candidatus Phytoplasma)</h2>
								</p>
								<div class="socials">
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-xs-4 member animated" data-animation="fadeInUp" data-animation-delay="50">
					<div class="member-inner">
						<a class="team-image">
							<img src="https://agritech.tnau.ac.in/crop_protection/images/arecanut_diseases/die_back.jpg"
								alt="" />
						</a>
						<div class="member-details">
							<div class="member-details-inner">
								<h2 class="member-name light">Inflorescence die-back (Coll etotrichum gloeosporioides)
								</h2>
								</p>
								<div class="socials">
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-xs-4 member animated" data-animation="fadeInUp" data-animation-delay="50">
					<div class="member-inner">
						<a class="team-image">
							<img src="https://agritech.tnau.ac.in/crop_protection/images/arecanut_diseases/foot_rot_3.jpg"
								alt="alternate" />
						</a>
						<div class="member-details">
							<div class="member-details-inner">
								<h2 class="member-name light">Anaberoga or foot rot or basal stem rot (Ganodermalucidum)
								</h2>
								</p>
								<div class="socials">
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-xs-4 member animated" data-animation="fadeInUp" data-animation-delay="50">
					<div class="member-inner">
						<a class="team-image">
							<img src="https://www.researchgate.net/publication/286479005/figure/fig1/AS:332512220991489@1456288499275/Typical-foliar-symptom-of-Phyllosticta-leaf-spot-on-Hymenocallis-littoralis-A-small.png"
								alt="alternate" height="350px" />
						</a>
						<div class="member-details">
							<div class="member-details-inner">
								<h2 class="member-name light">Leaf blight (Colletotrichum gloeosporioides and
									Phyllosticta spp.)</h2>
								</p>
								<div class="socials">
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-4 member animated" data-animation="fadeInUp" data-animation-delay="50">
					<div class="member-inner">
						<a class="team-image">
							<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRQz5_EJqvUhdGhwElSfJFiBjgDyUtAtEGfVDE7dnriXQ&s"
								alt="alternate" height="350px" />
						</a>
						<div class="member-details">
							<div class="member-details-inner">
								<h2 class="member-name light">. Collar rot (Fusarium spp. and Rhizoctonia spp.)</h2>
								</p>
								<div class="socials">
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-xs-4 member animated" data-animation="fadeInUp" data-animation-delay="50">
					<div class="member-inner">
						<!-- Team Member Image -->
						<a class="team-image">
							<!-- Img -->
							<img src="https://www.cabidigitallibrary.org/cms/10.1079/cabicompendium.36777909/asset/ff3bf5e4-e2f7-4c61-a47e-90c8585ed557/assets/graphic/36777909_04.jpg"
								alt="909_04" height="350px" />
						</a>
						<div class="member-details">
							<div class="member-details-inner">
								<h2 class="member-name light">Bacterial leaf stripe (Xanthomonas vasculorum (Cobb)
									Dowson)</h2>
								</p>
								<div class="socials">
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-xs-4 member animated" data-animation="fadeInUp" data-animation-delay="50">
					<div class="member-inner">
						<a class="team-image">
							<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/48/Palm_I_IMG_2108.jpg/640px-Palm_I_IMG_2108.jpg"
								alt="alternanate" height="350px" />
						</a>
						<div class="member-details">
							<div class="member-details-inner">
								<h2 class="member-name light">Some General precautions for arecanut Diseases</h2>
								</p>
								<div class="socials">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="testimonial" class="testimonials parallax2">
		<div class="inner">
			<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
				<ol class="carousel-indicators">
					<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
					<li data-target="#carousel-example-generic" data-slide-to="1"></li>
					<li data-target="#carousel-example-generic" data-slide-to="2"></li>
				</ol>
				<div class="carousel-inner">
					<div class="item active">
						<ul>
							<li class="monial">
								<h1 class="condensed white">"<span class="colored">Safeguarding Arecanut: Disease
										Management Insights</span>
								</h1>
								<p class="light" style="color: black;">Arecanut, also known as betel nut, is susceptible
									to various diseases that can significantly impact its yield and quality. Some common
									diseases affecting arecanut include fruit rot, bud rot, crown rot, and leaf spot
									diseases. These diseases are caused by pathogens such as Phytophthora species and
									fungal pathogens.

									Effective disease management strategies include implementing field sanitation
									practices, prophylactic spraying of appropriate fungicides, and regular monitoring
									of plant health. Additionally, cultural practices such as proper drainage and
									maintaining optimal planting density can help reduce disease incidence.</p>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>


	<footer id="footer" class="footer">

		<p class="copyright normal">© 2024 <span class="colored">Arecanut Disease</span> All Rights Reserved.</p>
	</footer>
	<script type="text/javascript" src="/static/javas/jquery-1.11.0.min.js"></script>
	<script type="text/javascript" src="/static/javas/bootstrap.min.js"></script>
	<script type="text/javascript" src="/static/javas/jquery.appear.js"></script>
	<script type="text/javascript" src="/static/javas/jquery.prettyPhoto.js"></script>
	<script type="text/javascript" src="/static/javas/modernizr-latest.js"></script>
	<script type="text/javascript" src="/static/javas/SmoothScroll.js"></script>
	<script type="text/javascript" src="/static/javas/jquery.parallax-1.1.3.js"></script>
	<script type="text/javascript" src="/static/javas/jquery.easing.1.3.js"></script>
	<script type="text/javascript" src="/static/javas/jquery.superslides.js"></script>
	<script type="text/javascript" src="/static/javas/jquery.flexslider.js"></script>
	<script type="text/javascript" src="/static/javas/jquery.mb.YTPlayer.js"></script>
	<script type="text/javascript" src="/static/javas/jquery.fitvids.js"></script>
	<script type="text/javascript" src="/static/javas/jquery.slabtext.js"></script>
	<script type="text/javascript" src="/static/javas/plugins.js"></script>
	<script>

		$("a.about-icon").hover(function () {
			$(this).children("i").addClass("fa-spin");
		}, function () {
			$(this).children("i").removeClass("fa-spin");
		});

	</script>
</body>

</html>